*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}
 .findwhatyouneed{
    background-image: url("./images/afterheader.webp"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 400px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
 }
 .test{
    display: flex;
 }
.search_inputs{
    /* width: 100%; */
    /* background-color: red; */
    display: flex;
    margin: auto;
}
 .search_form{
    display: flex;
 }
.web_container{
    width: 1300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.web_container_left{
    width: 20%;
    height: 100%;
    background-color: red;
    color: aliceblue;
}

.web_container_right{
    width: 80%;
    min-height: 50rem;
    background-color: white;
    color: rgb(12, 47, 78);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: stretch;
    gap: 1rem;
}

.property_card{
    width: 32rem;
    display: flex;
}

.property_image{
    max-height: 25rem;
}
.property_rooms{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    gap: 3rem;
}

.input_city{
    position: relative;
}

.input_location{
    position: relative;
    right: -201px;
    z-index: 12;
    top: 3px;
    height: 30px;
}

.user_loged{
    display: none;
}